
header {
    background-color: #3a7375;
    font-weight: 600;
}

section, footer {
    margin: 40px;
}


h1 {
    font-size: 35px;
    color: #303030;
    padding: 15px;
    color: white;
    text-align: left;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}


