/* Passo 7
Você pode ver o body (ele é a caixa mais interna na página); a caixa em torno dele é o elemento html. Faça o body preencher toda a viewport dando a ele uma height de 100vh. Remova a margin padrão do body definindo a margin como 0. Finalmente, defina a propriedade overflow como hidden para ocultar quaisquer barras de rolagem que aparecem quando algo se estende além da janela de visualização.

Passo 14
Agora você tem algo que começa a se parecer com um edifício. Você está pronto para criar sua primeira variável. Declarações de variáveis começam com dois traços (-) e recebem um nome e um valor como este: --variable-name: value;. Na regra para a classe bb1, crie uma variável chamada --building-color1 e dê a ela um valor de #999.

Passo 15
Para usar uma variável, coloque o nome da variável entre parênteses precedidos pela palavra var desta forma: var(--variable-name). Não importa o valor que você forneceu à variável, ele será aplicado a qualquer propriedade que você usar.

Adicione a variável --building-color1 que você criou no passo anterior como o valor da propriedade background-color da classe .bb1a.

Passo 17
Altere o valor da variável de #999 para #aa80ff e você poderá ver como ela é aplicada em todos os lugares em que você usou a variável. Esta é a principal vantagem do uso de variáveis, podendo alterar rapidamente muitos valores na folha de estilo apenas alterando o valor de uma variável.

*/

* {
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    height: 100vh;                    /*7*/
    margin: 0;                        /*7*/
    overflow: hidden;                 /*7*/
}

.background-buildings {
    width: 100%;
    height: 100%;

}

.bb1 {
    width: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    --building-color1: #aa80ff;
    
  }

.bb1a {
    width: 70%;
    height: 10%;
    background-color: var(--building-color1);
  }
  
  .bb1b {
    width: 80%;
    height: 10%;
    background-color: var(--building-color1);
  }
  
  .bb1c {
    width: 90%;
    height: 10%;
    background-color: var(--building-color1);
  }
  
  .bb1d {
    width: 100%;
    height: 70%;
    background-color: var(--building-color1);
  }
  