/* 8. 

A propriedade transform-origin é usada para definir o ponto em torno do qual uma transformação CSS é aplicada. 
Por exemplo, ao executar um rotate (o que você fará mais tarde neste projeto), 
o transform-origin determina em torno de qual ponto o elemento é girado.

Defina o seletor .line para ter uma transform-origin de 0% 0%. 
Isso definirá que o ponto de origem seja deslocado 0% da esquerda e 0% a partir de cima, 
posicionando-o no meio da borda superior do elemento.

9. A propriedade transform-origin é usada para definir o ponto em torno do qual uma transformação CSS é aplicada. 
Por exemplo, ao executar um rotate (o que você fará mais tarde neste projeto), 
o transform-origin determina em torno de qual ponto o elemento é girado.

Defina o seletor .line para ter uma transform-origin de 0% 0%. 
Isso definirá que o ponto de origem seja deslocado 0% da esquerda e 0% a partir de cima, 
posicionando-o no meio da borda superior do elemento.

13. Defina o .cabin para ter uma propriedade transform-origin de 50% 0%. 
Isso definirá que o ponto de origem seja deslocado 50% da esquerda e 0% a partir de cima, 
posicionando-o no meio da borda superior do elemento.

14. Hora de posicionar as cabines ao redor do roda. Selecione o primeiro elemento .cabin. 
Defina a propriedade right como -8.5% e a propriedade top para 50%.

15. Continuando o padrão, selecione os elementos .cabin a seguir e aplique as regras específicas a eles:

    O segundo .cabin deve ter a propriedade right definida como 17% e a propriedade top definida como 93.5%.
    O terceiro .cabin deve ter a propriedade right definida como 67% e a propriedade top definida como 93.5%.
    O quarto .cabin deve ter a propriedade left definida como -8.5% e a propriedade top definida como 50%.
    O quinto .cabin deve ter a propriedade left definida como 17% e a propriedade top definida como 7%.
    O sexto .cabin deve ter a propriedade right definida como 17% e a propriedade top definida como 7%.

16. A regra @keyframes é usada para definir o fluxo de uma animação CSS. 
Dentro da regra @keyframes, você pode criar seletores para pontos específicos na sequência de animação, 
tais como 0% ou 25%, ou usar from e to para definir o início e o fim da sequência.

Regras @keyframes requerem que um nome seja atribuído a elas, 
que por sua vez você usará em outras regras para referência. 
Por exemplo, a regra @keyframes freeCodeCamp { } seria nomeada freeCodeCamp.

Hora de começar a animar. Crie uma regra de @keyframes chamada wheel.

17. Agora, você precisa definir como deve começar sua animação. 
Para fazer isso, crie uma regra 0% dentro da sua regra @keyframes wheel. 
As propriedades que você definiu neste seletor aninhado serão aplicadas no início de sua animação.

18. Dê a regra 0% uma propriedade transform de rotate(0deg). Isso iniciará uma animação sem rotação.

20. A propriedade animation-name é usada para vincular uma regra @keyframes a um seletor CSS.
 O valor dessa propriedade deve corresponder ao nome da regra @keyframes.
 Dê ao seletor .wheel a propriedade animation-name definida para wheel.

A propriedade animation-duration é usada para definir quanto tempo a sequência da animação deve durar até ser concluída.
 O tempo deve ser especificado em segundos (s) ou em milissegundos (ms).
 Dê ao seletor .wheel a propriedade animation-duration definida para 10s.

 21. A propriedade animation-iteration-count define quantas vezes sua animação deve repetir. 
Isso pode ser definido como um número, ou como infinite para repetir indefinidamente a animação. 
Sua roda-gigante nunca deve parar, então defina o seletor de .wheel para ter um animation-iteration-count 
definido como infinite.

A propriedade animation-timing-function define como a animação deve progredir ao longo do tempo. 
Existem alguns valores diferentes para essa propriedade, mas você quer que a animação da roda-gigante 
funcione com a mesma taxa de início a fim. Defina animation-timing-function como linear no seletor.wheel.

22. Crie uma regra de @keyframes com o nome cabins. Use as mesmas propriedades de sua @keyframes wheel, 
copiando as regras de 0% e 100%, mas defina a propriedade transform do seletor 100% para rotate(-360deg).


23. Com o seletor de .wheel, você criou quatro propriedades diferentes para controlar a animação. 
Para o seu seletor de .cabin, você pode usar a propriedade animation para definir tudo ao mesmo tempo.

Defina a propriedade animation da regra .cabin para cabins 10s linear infinite. 
Isso definirá as propriedades de animation-name, animation-duration, 
animation-timing-function e animation-iteration-count nessa ordem.

24. Para fazer com que a animação de cabine pareça mais com um movimento natural de balanço, 
você pode usar a função de tempo de ease-in-out. Essa configuração diz para a animação iniciar e 
terminar em um ritmo mais lento, mas que se mova mais rapidamente no meio do ciclo.

No seletor .cabin substitua linear por ease-in-out.

25. Você pode usar as regras @keyframes para controlar mais do que apenas a transformação de um elemento. 
No seletor 0% do @keyframes cabins, defina background-color para yellow.


26. Entre os seletores 0% e 100%, adicione um seletor 50%. Isso será aplicado no meio do ciclo de animação. 
Defina abackground-color para purple.

27. Como a animação está em um loop infinito e as cores de início e fim não são iguais, 
a transição ficará em branco quando ela voltar para amarelo depois do vermelho.

Para começar a corrigir isso, remova a cor de fundo background-color do seu seletor 0%.


*/

.wheel {
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 50px;
    position: absolute;
    width: 55vw;
    height: 55vw;
    max-height: 500px;
    max-width: 500px;
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.line {
    background-color: black;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0% 0%;
}

.line:nth-of-type(2) {                    /*9*/
    transform: rotate(60deg);     
}

.line:nth-of-type(3) {
    transform: rotate(120deg);
}

.line:nth-of-type(4) {
    transform: rotate(180deg);
}

.line:nth-of-type(5) {
    transform: rotate(240deg);
}

.line:nth-of-type(6) {
    transform: rotate(300deg);
}

.cabin {
    background-color: red;
    width: 20%;
    height: 20%;
    position: absolute;
    border: 2px solid;
    transform-origin: 50% 0%;
    animation: cabins 10s ease-in-out infinite;
}

.cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}

.cabin:nth-last-of-type(2) {
    right: 17%;
    top: 93.5%;
}

.cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
}

.cabin:nth-of-type(4) { 
    left: -8.5%;
    top: 50%;
}

.cabin:nth-last-of-type(5) {
    left: 17%;
    top: 7%;
}

.cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cabins {
    0% {
        transform: rotate(0deg);
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: purple;
    }

    75% {
        background-color: yellow;
    }

    100% {
        transform: rotate(-360deg);
    }
}