/* Se você inspecionar o elemento .label com as ferramentas de desenvolvedor do seu navegador, 
poderá notar que ele de fato possui 288 pixels de largura ao invés de 270. 
Isto porque, por padrão, o navegador inclui a borda e o padding quando determina o tamanho de um elemento.
Para resolver isso, redefina o modelo da caixa criando um seletor * e dê a ele o atributo de box-sizing que é propriedade de border-box.
 */
 * {
    box-sizing: border-box;
 }

html {
    font-size: 16px;
}

/* Crie um seletor body e dê a ele a propriedade font-family definida como Open Sans com sans-serif como alternativa.
Lembre-se de que fontes com espaços no nome devem estar entre aspas no CSS. */
body {
    font-family: "Open Sans", sans-serif;
}
/* Criado um seletor .label e dê a ele um border definido como 2px solid black. */

.label {
    border: 2px solid black;
    width: 270px; /* O bom uso do espaço em branco pode trazer foco aos elementos importantes da página e ajudar a guiar os olhos do usuário através do texto.*/
    margin: 20px auto;
    padding: 0 7px;
}

/* Lembre-se de que o uso de h1, h2 e tags similares determinam a estrutura semântica do seu HTML. 
No entanto, você pode ajustar o CSS desses elementos para controlar o fluxo visual e a hierarquia.
Crie uma regra para h1 e defina a propriedade font-weight para 800. 
Isto deixará o texto do elemento h1 em negrito. */
 header h1 {           /*Agora atualize o seletor h1 para que seja header h1 e tenha como destino o elemento h1 dentro do novo header */
    
    text-align: center;
    margin: -4px 0 -4px 0; /*Ajuste o posicionamento do h1 dando-lhe uma margem superior e inferior de -4px e uma margem esquerda e direita de 0.*/
    /*A propriedade letter-spacing pode ser usada para ajustar o espaço entre cada caractere de texto em um elemento.
     Dê ao seletor h1 uma propriedade letter-spacing definida como 0.15px para deixá-los um pouco mais afastados.*/
    letter-spacing: 0.15px; 
}

p {
    margin: 0 0 0 0; /*removendo as margens*/
    display: flex;
    justify-content: space-between;
}

/* Crie um seletor para o novo .divider e defina a propriedade border-bottom como 1px solid #888989. 
Também dê a ele uma margem superior e inferior de 2px. 
Não deve ter qualquer margem esquerda ou direita. */
.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0 2px 0;
} 

.bold {
    font-weight: 800;
}

/* Crie um novo seletor .large e defina a propriedade height para 10px. 
Também crie um seletor .large, .medium e defina a propriedade background-color como black. */
.large {
    height: 10px;
}

.large, .medium {
    background-color: black;
    border: 0;
}



/* A unidade rem representa root em e é relativa ao tamanho da fonte do elemento html.

Crie um seletor .small-text e defina font-size como 0.85rem, o que representaria aproximadamente 13.6px 
(lembre-se de que você definiu o html como tendo um font-size de 16px). */

.small-text{
    font-size: 0.85rem;
}

/* Crie um seletor .calories-info h2 e remova todas as margens. */

.calories-info h2{
    margin: 0;
}

/* Crie um seletor .calories-info e defina a propriedade display como flex. 
Também dê a ele uma propriedade justify-content definida como space-between e 
align-items definida como flex-end. */

.calories-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Crie um seletor .left-container p definindo as margens superior e inferior como -5px
e as margens esquerda e direita como -2px. 
Defina também o font-size como 2em e a font-weight como 700. */

.left-container p{
    margin: -5px -2px -5px -2px;
    font-size: 2em;
    font-weight: 700;
}

/* Crie um seletor .calories-info span, ajuste seu font-size para 2.4em e font-weight para 700. */

.calories-info span{
    font-size: 2.4em;
    font-weight: 700;
     margin: -7px -2px;  /*A tipografia é frequentemente mais arte do que a ciência. Você pode ter que ajustar coisas como alinhamento até que pareça correto. 
    Dê ao seletor .calories-info span uma margin definida como -7px -2px. Isto deixará o texto 230 no lugar. */ 
}

/* Crie um seletor .medium e defina a propriedade height como 5px. */

.medium{
    height: 5px;
}

/* O texto * Daily Value % deve ser alinhado à direita. 
Crie um seletor .right e use a propriedade justify-content para fazer isso. */

.right{
    justify-content: flex-end;
}

/* Crie um seletor .indent e dê a ele a propriedade margin-left definida como 1em. */
.indent{
    margin-left: 1em;
}

.double-indent{
    margin: 2em;
}

/* Crie um seletor .daily-value p para mirar todos os elementos p na seção daily-value. 
Dê a esse novo seletor uma border-bottom definida como 1px solid #888989. */

.daily-value p:not(.no-divider){  /*usando o pseudosseletor :not*/
    border-bottom: 1px solid #888989;
}