/*
* Para iniciar seu CSS, normalize as regras do CSS tendo como destino todos os elementos com *, incluindo os pseudosseletores ::before e ::after.

Defina as propriedades padding e margin como 0 e defina a propriedade box-sizing como border-box.

* Crie um seletor html e dê a ele uma propriedade font-size definida como 62.5%. Isto definirá o tamanho padrão da fonte para a página da web como 10px (o padrão do navegador é 16px).

Isto facilitará para você trabalhar com unidades rem mais tarde, já que 2rem seria 20px.

* 




*/

*, ::before, ::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body {
    font-family: Baskervville, serif;
    color: linen;
    background-color: rgb(20, 30, 40);
  }

  

