body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

/*Uma propriedade útil de um SVG (gráficos vetoriais escaláveis) é o atributo path (caminho), 
que permite que a imagem seja dimensionada sem afetar a resolução da imagem resultante.
Atualmente, o img está assumindo que é o tamanho padrão, o que é muito grande. Para arrumar, 
dimensione a imagem usando o id como seletor e defina a largura width como max(100px, 18vw).*/

/*Como descrito no guia de estilo do freeCodeCamp, 
o logotipo deve manter uma proporção de 35 / 4 e um preenchimento (padding) ao redor do texto.
Primeiro, altere a background-color para #0a0a23 para ver o logotipo. 
Em seguida, use a propriedade aspect-ratio para definir a proporção desejada de 35 / 4. 
Por fim, adicione um padding de 0.4rem ao redor.*/

#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

/*Faça com que o header ocupe toda a largura de seu contêiner pai, 
defina sua height como 50px e defina a background-color para #1b1b32. 
Em seguida, defina o display para usar o Flexbox.*/

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
}

/*Altere a cor da fonte h1 para #f1be32, 
e defina o tamanho da fonte para min(5vw, 1.2em).*/

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
}

/*Marque os elementos da lista não ordenados dentro dos elementos nav e use Flexbox para espaçar igualmente os elementos filhos.*/

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

/* O tipo de letra desempenha um papel importante na acessibilidade de uma página. 
Algumas fontes são mais fáceis de ler do que outras. 
Isso é especialmente verdadeiro em telas de baixa resolução.
Altere a fonte dos elementos h1 e h2 para Verdana e use outra fonte segura para a Web na família sans-serif como substituto.
Além disso, adicione um border-bottom de 4px solid #dfdfe2 aos elementos h2 para tornar as seções distintas. 
*Você deve definir o segundo valor da propriedade font-family para outra fonte sans-serif, fonte segura da web. Dica: eu escolheria Tahoma.*/

h1, h2 {
    font-family: Verdana, Tahoma;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
}


/* O texto .sr-only ainda está visível. Existe um padrão comum para ocultar visualmente o texto para que apenas os leitores de tela leiam.

Este padrão é para definir as seguintes propriedades do CSS:

position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;

Use o padrão acima para definir a classe sr-only. */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
