/* Passo 5 
Para começar com a pintura, dê ao elemento body uma background-color de rgb(184, 132, 46). 

Passo 7
Use um seletor de id para dar ao elemento com o id back-wall uma background-color de #8B4513.

Passo 8
Dê ao elemento #back-wall uma width de 100% e uma height de 60%.

Passo 9
Normalmente, o HTML é renderizado de cima para baixo. Os elementos na parte superior do código são posicionados na parte superior da página. No entanto, muitas vezes você pode querer mover os elementos para posições diferentes. Você pode fazer isso com a propriedade position.

Defina a propriedade position do elemento #back-wall como absolute. Uma posição absolute retira o elemento daquele fluxo do documento de cima para baixo e permite que você o ajuste relativo ao contêiner.

Quando um elemento é posicionado manualmente, você pode mudar seu layout com top, left, righte bottom. Defina o elemento #back-wall de modo que tenha um valor de top de 0 e um valor de left de 0.

Passo 10
A propriedade z-index é usada para criar "camadas" para os elementos HTML. Se você já está familiarizado com as ferramentas de edição de imagem, deve ter trabalhado com camadas antes. Este é um conceito semelhante.

Elementos com um valor de z-index maior aparecerão como se estivessem sobrepostos aos elementos com um valor de z-index inferior. Elas podem ser combinadas com o posicionamento da lição anterior para criar efeitos exclusivos.

Como o elemento back-wall precisará aparecer "atrás" dos outros elementos que você vai criar, dê ao elemento back-wall um z-index de -1.

Passo 16
Usando um seletor de id, crie uma regra para o elemento com o id offwhite-character. Dê a ele uma width de 300px, uma height de 550px e uma background-color de GhostWhite.

*/

body {
    background-color: rgb(184, 132, 46);        /*5*/
}

#back-wall {
    background-color: #8B4513;
    width: 100%;                          /*8*/
    height: 60%;
    Position: absolute;                  /*9*/
    top: 0;                              /*9*/
    left: 0;                             /*9*/
    z-index: -1;                         /*10*/
    
}

#offwhite-character {
    width: 300px;                       /*16*/                                    
    height: 550px;                      /*16*/   
    background-color: Ghostwhite;     /*16*/   
  }


