/* Passo 5 
Para começar com a pintura, dê ao elemento body uma background-color de rgb(184, 132, 46). 

Passo 7
Use um seletor de id para dar ao elemento com o id back-wall uma background-color de #8B4513.

Passo 8
Dê ao elemento #back-wall uma width de 100% e uma height de 60%.

Passo 9
Normalmente, o HTML é renderizado de cima para baixo. Os elementos na parte superior do código são posicionados na parte superior da página. No entanto, muitas vezes você pode querer mover os elementos para posições diferentes. Você pode fazer isso com a propriedade position.

Defina a propriedade position do elemento #back-wall como absolute. Uma posição absolute retira o elemento daquele fluxo do documento de cima para baixo e permite que você o ajuste relativo ao contêiner.

Quando um elemento é posicionado manualmente, você pode mudar seu layout com top, left, righte bottom. Defina o elemento #back-wall de modo que tenha um valor de top de 0 e um valor de left de 0.

Passo 10
A propriedade z-index é usada para criar "camadas" para os elementos HTML. Se você já está familiarizado com as ferramentas de edição de imagem, deve ter trabalhado com camadas antes. Este é um conceito semelhante.

Elementos com um valor de z-index maior aparecerão como se estivessem sobrepostos aos elementos com um valor de z-index inferior. Elas podem ser combinadas com o posicionamento da lição anterior para criar efeitos exclusivos.

Como o elemento back-wall precisará aparecer "atrás" dos outros elementos que você vai criar, dê ao elemento back-wall um z-index de -1.

Passo 16
Usando um seletor de id, crie uma regra para o elemento com o id offwhite-character. Dê a ele uma width de 300px, uma height de 550px e uma background-color de GhostWhite.

Passo 17
Mova #offwhite-character para o lugar certo dando a ele uma position absolute, um valor de top de 20% e um valor de left de 17.5%.

Passo 18
Usando um seletor de ids, estilize o elemento com id white-hat. Dê a ele uma width e uma height de 0 e um border-style de solid.

Passo 19
Isso não parece muito certo. Defina uma border-width de 0 120px 140px 180px para dimensionar o chapéu corretamente.

Passo 20
Agora você tem uma caixa grande. Dê a ele uma border-top-color, uma border-right-color e uma border-left-color transparent. Defina a border-bottom-color como GhostWhite. Isso vai fazer com que pareça mais com um chapéu.

Passo 21
Dê ao chapéu uma position absolute, um valor de top de -140px e um valor de left de 0.

Passo 22
Usando um seletor de id, crie uma regra para o elemento com o id black-mask. Dê a ele uma width de 100%, uma height de 50px e uma background-color de rgb(45, 31, 19).

Passo 23
Dê a máscara uma position absolute e um top e um left de 0

Passo 24
Para garantir que você possa ver a máscara, dê a ela um z-index de 1.

Passo 25
Usando um seletor de id, dê ao elemento com o id gray-instrument uma width de 15%, uma height de 40% e uma background-color de rgb(167, 162, 117).

Passo 26
Agora, mova o elemento para o lugar certo com uma position absolute, um valor de top de 50px e um valor de left de 125px.

Passo 27
Defina o z-index como 1.

Passo 28
Use um seletor de classe para criar uma regra para os elementos com a classe black-dot. Defina a width como 10px, a height como 10px e a background-color como rgb(45, 31, 19).

Passo 29
Esses pontos estão um pouco quadrados demais. Dê à classe black-dot um border-radius de 50% para corrigi-lo.

Passo 30
Mova os pontos para o lugar certo definindo display como block, a margin como auto e margin-top como 65%.

Passo 31
Use um seletor de id para estilizar o elemento com id tan-table. Dê a ele uma width de 450px, uma height de 140px e uma background-color de #D2691E.

Passo 32
Agora, mova a tabela para o lugar certo dando a ela uma position absolute, um valor de top de 275px e um valor de left de 15px.

Dê à tabela um z-index de 1.

Passo 38
Use um seletor de id para criar uma regra para o elemento com o id black-character. Defina a width como 300px, a height como 500px e a background-color como rgb(45, 31, 19).

Passo 39
Mova o elemento #black-character para a posição correta com uma position absolute, um top de 30% e um left de 59%.

Passo 40
Use um seletor de id para criar uma regra para o elemento com o id black-hat. Dê a ele uma width de 0, uma height de 0 e um border-style de solid.

Passo 41
Defina a border-width de #black-hat como 150px 0 0 300px.

Passo 42
Assim como em #white-hat, você deve estilizar a borda do elemento #black-hat. Dê a ele uma border-top-color, uma border-right-color e uma border-bottom-color de transparent. Defina a border-left-color como rgb(45, 31, 19).

Passo 43
Agora, posicione o elemento #black-hat. Dê a ele uma position absolute, um valor de top de -150px e um valor de left de 0.

Passo 44
Usando um seletor de ids, estilize o elemento com id gray-mask. Dê a ele uma width de 150px, uma height de 150px e uma background-color de rgb(167, 162, 117).

Passo 45
Posicione o elemento #gray-mask definindo position como absolute, top como -10px e left como 70px.

Passo 46
Usando um seletor de id, crie uma regra para o elemento white-paper. Defina a width como 400px, a height como 100px e a background-color como GhostWhite.

Passo 47
Dê a #white-paper uma position absolute, um top de 250px e um left de -150px para colocá-lo no lugar certo.

Passo 48
Defina o z-index do elemento #white-paper como 1.

Passo 49
Os ícones de FontAwesome vêm com seu próprio estilo para definir o ícone. No entanto, você também pode definir o estilo por conta própria para mudar coisas como a cor e o tamanho. Por enquanto, use um seletor de classe para selecionar os ícones com a classe fa-music. Defina display como inline-block, margin-top como 8% e margin-left como 13%.

Passo 51
Use um seletor de classe para selecionar os novos elementos com a classe blue. Defina abackground-color como #1E90FF.

Passo 52
Selecione o elemento com o id blue-left usando um seletor de id. Dê a ele uma width de 500px e uma height de 300px.

Passo 53
Agora, defina a position como absolute, top como 20% e left como 20%.

Passo 54
Em seguida, selecione o elemento com o id blue-right usando um seletor de id. Defina a width como 400px e a height como 300px.

Passo 55
Dê ao elemento #blue-right o posicionamento correto com position definida como absolute, top definido como 50% e left definido como 40%.

Passo 62
Selecione o elemento orange-character com um seletor de id. Dê a ele uma width de 250px, uma height de 550px e uma background-color de rgb(240, 78, 42)

Passo 63
Dê ao elemento #orange-character uma position absolute, um top de 25% e um left de 40%.

Passo 64
Estilize o elemento com o id black-round-hat usando um seletor de id. Defina a width como 180px, a height como 150px e a background-color como rgb(45, 31, 19).

Passo 65
O elemento #black-round-hat provavelmente deve ser redondo. Dê a ele um border-radius de 50% para corrigir isso.

Passo 66
Mova o elemento #black-round-hat para o lugar com uma position absolute, um top de -100px e um left de 5px.

Passo 67
Coloque o elemento #black-round-hat na camada correta com um z-index de -1.

Passo 68
Use um seletor de id para criar uma regra para o elemento com o id eyes-div. Defina a width como 180px e a height como 50px.

Passo 69
Agora, mova o elemento #eyes-div para a posição correta com position definida como absolute, top definido como -40px e left definido como 20px.

Passo 70
Dê ao elemento #eyes-div um z-index de 3.

Passo 71
Marque o elemento com o id triangles usando um seletor de id. Defina a width como 250px e a height como 550px.

Passo 72
Crie um seletor de classe para os elementos com a classe triangle. Defina a width como 0 e a height como 0.

Passo 73
Estilize a borda dos elementos .triangle. Defina o border-style como solid e a border-width como 42px 45px 45px 0.

Passo 74
Dê aos elementos .triangle a cor correta. Defina a border-top-color, a border-bottom-color e a border-left-color como transparent. Defina a border-right-color como Gold.






*/

body {
    background-color: rgb(184, 132, 46);        /*5*/
}

#back-wall {
    background-color: #8B4513;
    width: 100%;                          /*8*/
    height: 60%;
    Position: absolute;                  /*9*/
    top: 0;                              /*9*/
    left: 0;                             /*9*/
    z-index: -1;                         /*10*/
    
}

#offwhite-character {
    width: 300px;                       /*16*/                                    
    height: 550px;                      /*16*/   
    background-color: Ghostwhite;     /*16*/  
    position: absolute;                 /*17*/        
    top: 20%;                           /*17*/
    left: 17,5%;                        /*17*/

  }

  #white-hat {
    width: 0;                               /*18*/
    height: 0;                              /*18*/
    border-style: solid;                    /*18*/
    border-width: 0 120px 140px 180px;      /*19*/
    border-top-color: transparent;          /*20*/
    border-right-color: transparent;        /*20*/
    border-left-color: transparent;         /*20*/
    border-bottom-color: ghostwhite;      /*20*/
    position: absolute;                     /*21*/
    top: -140px;                            /*21*/
    left: 0;                                /*21*/
  }

  #black-mask {
    width: 100%;                            /*22*/
    height: 50px;                           /*22*/
    background-color: rgb(45, 31, 19);    /*22*/
    position: absolute;                     /*23*/
    top: 0;                                 /*23*/
    left:0;                                 /*23*/
    z-index: 1;                             /*24*/
  }

  #gray-instrument {
    width: 15%;                                     /*25*/
    height: 40%;                                    /*25*/
    background-color: rgb(167, 162, 117);         /*25*/
    position: absolute;                             /*26*/
    top: 50px;                                      /*26*/        
    left: 125px;                                    /*26*/
    z-index: 1;                                     /*27*/
  }
  

.black-dot {
    width: 10px;                                   /*28*/
    height: 10px;                                  /*28*/
    background-color: rgb(45, 31, 19);             /*28*/
    border-radius: 50%;                            /*29*/
    display: block;                                /*30*/
    margin: auto;                                  /*30*/
    margin-top: 65%;                               /*30*/


}

#tan-table {
    width: 450px;                                   /*31*/
    height: 140px;                                  /*31*/
    background-color: #d2691e;                    /*31*/
    position: absolute;                             /*32*/
    top: 275px;                                     /*32*/    
    left: 15px;                                     /*32*/
    z-index: 1;                                     /*33*/

}

#black-character {
  width: 300px;                                     /*38*/
  height: 500px;                                    /*38*/
  background-color: rgb(45, 31, 19);             /*38*/
  position: absolute;                              /*39*/
  top: 30%;                                        /*39*/
  left: 59%;                                       /*39*/
}

#black-hat {
  width: 0;                                        /*40*/
  height: 0;                                       /*40*/
  border-style: solid;                             /*40*/
  border-width: 150px 0 0 300px;                   /*41*/
  border-top-color: transparent;                   /*42*/
  border-right-color: transparent;                 /*42*/
  border-bottom-color: transparent;                /*42*/
  border-left-color: rgb(45, 31, 19);            /*42*/
  position: absolute;                              /*43*/       
  top: -150px;                                     /*43*/
  left: 0;                                         /*43*/
}

#gray-mask {
  width: 150px;                                    /*44*/
  height: 150px;                                   /*44*/
  background-color: rgb(167, 162, 117);          /*44*/
  position: absolute;                              /*45*/
  top: -10px;                                      /*45*/
  left: 70px;                                      /*45*/
}

#white-paper {
  width: 400px;                                    /*46*/                                                    
  height: 100px;                                   /*46*/  
  background-color: ghostwhite;                  /*46*/
  position: absolute;                              /*47*/
  top: 250px;                                      /*47*/
  left: -150px;                                    /*47*/
  z-index: 1;                                      /*48*/
}

.fa-music {
  display: inline-block;                          /*49*/         
  margin-top: 8%;                                 /*49*/
  margin-left: 13%;                               /*49*/
}

.blue {
  background-color: #1e90ff;                    /*51*/
}

#blue-left {
  width: 500px;                                    /*52*/
  height: 300px;                                   /*52*/
  position: absolute;                              /*53*/      
  top: 20%;                                        /*53*/
  left: 20%;                                       /*53*/
}

#blue-right {
  width: 400px;                                   /*54*/
  height: 300px;                                  /*54*/
  position: absolute;
  top: 50%;                                       /*55*/    
  left: 40%;                                      /*55*/
}

#orange-character {
  width: 250px;                                   /*62*/
  height: 550px;                                  /*62*/
  background-color: rgb(240, 78, 42);           /*62*/
  position: absolute;                             /*63*/
  top: 25%;                                       /*63*/
  left: 40%;                                      /*63*/
}

#black-round-hat {
  width: 180px;                                   /*64*/
  height: 150px;                                  /*64*/
  background-color: rgb(45, 31, 19);            /*64*/  
  border-radius: 50%;                             /*65*/
  position: absolute;                             /*66*/
  top: -100px;                                    /*66*/
  left: 5px;                                      /*66*/
  z-index: -1;                                    /*67*/
}

#eyes-div {
  width: 180px;                                   /*68*/
  height: 50px;                                   /*68*/
  position: absolute;                             /*69*/
  top: -40px;                                     /*69*/
  left: 20px;                                     /*69*/
  z-index: 3;                                     /*70*/
}

#triangles {
  width: 250px;                                   /*71*/                              
  height: 550px;                                  /*71*/
}

.triangle {
  width: 0;                                       /*72*/
  height: 0;                                      /*72*/
  border-style: solid;                            /*73*/
  border-width: 42px 45px 45px 0;                 /*73*/
  border-top-color: transparent;                  /*74*/
  border-bottom-color: transparent;               /*74*/
  border-left-color: transparent;                 /*74*/
  border-right-color: gold;                     /*74*/
}