.canvas {
    width: 500px;   /* Mesmo que a <div> não tenha texto, ela ainda é tratada como uma caixa com conteúdo. Escreva uma nova regra de CSS que use o seletor .canvas e defina a width como 500 pixels. */
    height: 600px;
    background-color: #4d0f00;
  }
  /* Escreva uma nova regra usando o seletor de classe .frame.Use a declaração abreviada de border para dar ao elemento .frame uma borda sólida e preta com uma largura de 50px. */
  .frame {
    border: 50px solid black;
  }
  