.canvas {
    width: 500px;   /* Mesmo que a <div> não tenha texto, ela ainda é tratada como uma caixa com conteúdo. Escreva uma nova regra de CSS que use o seletor .canvas e defina a width como 500 pixels. */
    height: 600px;
    background-color: #4d0f00;
    /*Agora .one está centralizado na horizontal, mas sua margem superior está passando os limites da tela e entrando na borda do quadro, deslocando a tela inteira 20 pixels para baixo.
    Adicione um padding de 1px para o elemento .canvas para dar ao elemento .one algo sólido como barreira.*/
    
    /*padding: 1px; foi substituido por overflow*/

    /* A adição de 1 pixel de preenchimento às partes superior, inferior, esquerda e direita da tela mudou suas dimensões para 502 pixels x 602 pixels.
Substitua a propriedade padding com overflow definido como hidden - o que faz com que a tela volte às dimensões originais. */
    overflow: hidden; 

    /*As cores e formas da pintura são muito precisas para fingir que ela é uma pintura de Rothko.
Use a propriedade filter para dar um desfoque com blur na pintura de 2px no elemento .canvas.
Aqui está um exemplo de uma regra que adiciona um desfoque (blur) de 3px:*/
    filter: blur(2px);
  }
  /* Escreva uma nova regra usando o seletor de classe .frame.Use a declaração abreviada de border para dar ao elemento .frame uma borda sólida e preta com uma largura de 50px. */
  .frame {
    border: 50px solid black;
    width: 500px; /* O quadro é muito largo. No seletor .frame, defina a width como 500 pixels. */
    padding: 50px; /*Use o preenchimento (padding) para ajustar o espaçamento dentro de um elemento.Em .frame, use a propriedade abreviada padding para aumentar o espaço entre os elementos .frame e .canvas em 50px. A propriedade abreviada aumentará o espaço acima, abaixo, na esquerda e na direita da borda do elemento e da tela dentro dele. */
    margin: 20px auto; /* Use margens para ajustar o espaçamento fora de um elemento. Usando a propriedade margin, dê ao elemento .frame uma margem vertical de 20px e uma margem horizontal de auto. Isso moverá o frame para baixo 20 pixels e o centralizará na página na horizontal. */
  }
/*   Escreva uma nova regra que tenha como destino .one e defina sua width como 425 pixels. */
  .one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto; /*  Use margens para posicionar o elemento .one na tela. Adicione a propriedade abreviada margin com uma margem vertical de 20px e uma margem horizontal de auto. */
    box-shadow: 0 0 3px 3px #efb762; /* Os retângulos são pequenos demais e suas bordas não possuem uma qualidade suave de pintura.
    Aumente a área e suavize as bordas de .one definindo sua box-shadow como 0 0 3px 3px #efb762. */
    border-radius: 9px; /*Arredonde cada canto do elemento .one em 9 pixels usando a propriedade border-radius. */
	transform: rotate(-0.6deg); /*Gire todos os retângulos para dar a eles mais um visual imperfeito, como se fosse pintado à mão.
	Use a propriedade transform no seletor .one com o valor rotate para girar o elemento no anti-horário em 0,6 graus.*/
  }
  /* Criando uma regra de CSS que use o seletor .two e defina a width como 475 pixels. */
  .two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: auto; /* Centralize o elemento .two definindo a margin como auto. */
    /*É útil fazer com que suas margens empurrem em uma determinada direção.
    Neste caso, a margem inferior do elemento .one empurra .two 20 pixels para baixo.
    No seletor .two, use a propriedade abreviada margin para definir a margem superior como 0, 
    a margem horizontal como auto e a margem inferior como 20px. Isso removerá a margem superior, centralizará o elemento na horizontal e definirá a margem inferior como 20 pixels.*/
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 8px 10px; /* Use a propriedade border-radius no seletor .two para definir os raios superior esquerdo e inferior direito como 8px e os raios do canto superior direito e inferior esquerdo como 10px. */
  }
  /* Você não precisa usar sempre pixels ao dimensionar um elemento.Crie uma nova regra, .three, e defina sua width para 91%. */
  .three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto; /* Centralize o elemento .three na tela definindo a margin como auto. */  
    filter: blur(2px); /*aumentado o borrão do terceiro retangulo*/
    box-shadow: 0 0 5px 5px #b20403;
    /*A propriedade border-radius aceita até quatro valores para arredondar os cantos superior esquerdo, superior direito, inferior direito e inferior esquerdo.
    Arredonde o canto superior esquerdo de .three em 30 pixels, o canto superior direito em 25 pixels, o canto inferior direito em 60 pixels e o canto inferior esquerdo em 12 pixels.*/
    border-radius: 30px 25px 60px 12px; 
  }
  /*Crie uma regra que tenha como destino .one e .two e aumente o efeito de blur para 1 pixel.*/
  .one, .two {
    filter: blur(1px);
  }